
.no-content {
    text-align: center;
    margin-top: -35%;
}
.content {
    display: grid;
    position: relative;
    grid-template-columns: auto repeat(14, 6vw);
    grid-template-rows: 15vh 40vh 40vh min-content 60vh;
    grid-gap: 0.5rem;
    /* columns: auto repeat(14, 6vw);
    grid-template-rows: 15vh 30vh 10vh 40vh;
    grid-gap: 0.4rem; */
}
.infos {
    background-color: whitesmoke;
    grid-column: span 6;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50% 50%;
}
.title {
    font-size:1.5vw;
    color:var(--primary-dark);
    padding: 0.3rem;
    margin: 0;
    height: min-content;
    border-bottom: 0.1rem solid;
    border-image-slice: 1;
    border-width: 0.4rem;
    border-image-source: linear-gradient(to right, rgba(242, 200, 15), rgba(253, 98, 94,1));;   
}
.picker {
    display: flex;
    justify-content: right;
    align-items: center;
}
.select-container {
    display:flex;
    flex-direction: column;
}
.label {
    z-index: 99;
    color: white;
    font-size: 0.75vw;
    font-weight: bold;
    width: 7vw;
    background-color: var(--secondary-dark);
    border: 0.1rem solid var(--secondary-dark);
    border-radius: 1rem 3rem 0 0;
    border-image-slice: 1;
    margin-bottom: -0.1rem;
    padding-left: 0.25rem;
}
.select {
    width: 10vw;
    min-width: 15ch;
    max-width: 30ch;
    border: 0.1rem solid var(--secondary-dark);
    border-radius: 0 0.25rem 0.25rem 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.75vw;
    color: var(--primary-dark);
    cursor: pointer;
    line-height: 1.1;
    background-color: whitesmoke;
    
    margin-right: 1rem;
    
}
.option {
    border: 0.1rem solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, rgba(242, 200, 15), rgba(253, 98, 94,1));
    border-radius: 0 0.5rem 0.5rem 0;
    
    font-size: 0.8rem;
}
.objectif {
    font-size:1.1vw;
    margin: 0;
    padding: 0.3rem;
    color: var(--primary);
}
.card {
    background-color: whitesmoke;
    grid-column: span 3;
    display: grid;
    grid-template-rows: 30% 70%;
}
.card-title {
    color: var(--primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    background: whitesmoke;
    padding: 0.3rem;
    margin: 0;
    width: 80%;
    height: min-content;
    /* grid-column: span 2; */
    
    border-bottom: 0.1rem solid;
    border-image-slice: 1;
    border-width: 0.4rem;
    border-image-source: linear-gradient(to right, rgba(242, 200, 15), rgba(253, 98, 94,1));
}
.comparison {
    display: grid;
    padding: 0.5rem;
    grid-template-columns: 75% 25%;
    grid-template-rows: 50% 50%;
}
.main-amount {
    font-family: 'Poppins', sans-serif;
    color:var(--primary);
    font-weight: bold;
    font-size: 1.1vw;
    line-height: 300%;
}
.old-amount {
    color:var(--primary-dark);
    grid-row: span 2;
    font-size: 0.9vw;
    line-height: 400%;
}
.symbol {
    /* margin-top: 0.5rem; */
    font-size: 3vw;
    grid-row: span 2;
    line-height: 175%;
}
.pipeline-holder {
    display: grid;
    grid-template-rows: 15% 85%;
    position: relative;
    overflow: hidden;
    background-color: whitesmoke;
    grid-column: span 6;
}
.pie {
    background-color: whitesmoke;
    grid-column: span 4;
}
.pipeline-title {
    color: var(--primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    background: whitesmoke;
    padding: 0.3rem;
    margin: 0;
    width: 85%;
    height: min-content;
    
    border-bottom: 0.1rem solid;
    border-image-slice: 1;
    border-width: 0.4rem;
    border-image-source: linear-gradient(to right, rgba(242, 200, 15), rgba(253, 98, 94,1));
}
.offre-issue {
    background-color: whitesmoke;
    grid-column: span 15;
}
.table-title {
    color: var(--primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    background: whitesmoke;
    padding: 0.3rem;
    margin: 0;
    width: 85%;
    height: min-content;
    
    border-bottom: 0.1rem solid;
    border-image-slice: 1;
    border-width: 0.4rem;
    border-image-source: linear-gradient(to right, rgba(242, 200, 15), rgba(253, 98, 94,1));
}
.table-holder {
    display: flex;
    justify-content: center;
    padding-top:3vh;
    padding-bottom:3vh;
}
.table {
    font-size: 0.9vw;
    text-align: center;
    width: 90vw;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 1px 16px 1px rgba(0,0,0,0.3);
    background: whitesmoke;
}
.content-cell, .header-cell {
    padding: 1.5vh 1vw 1.5vh 1vw;
	background-color: rgba(255,255,255,0.2);
	color: var(--primary-dark);
}
.header-row {
    background: linear-gradient(45deg, var(--secondary), var(--secondary-dark));
}
.header-cell {
    width: 13vw;
}
.commercial-body {
    text-align: left;
}
.amount-body {
    text-align: right;
}
.commercial-body, .amount-body {
    color: var(--primary-dark);
    font-weight: bold;
}
.content-row:hover {
    background-color: rgba(0,0,0,0.1);
}
.content-cell {
    position: relative;
}
.content-cell:hover {
    background-color: rgba(0,0,0,0.1);
    color: var(--secondary-dark);
}
.ca-potentiel {
    position: absolute;
    opacity: 0.85;
    z-index:99;
    margin: 0;
    padding: 0.3rem;
    bottom: 0.3rem;
    left: 0;
    font-size: 0.75rem;
    background: var(--primary-dark);
    border: 0.2rem solid var(--primary-dark);
    border-radius: 0 0.5rem 0.5rem 0;
    color: whitesmoke;
}
.ca {
    background-color: whitesmoke;
    grid-column: span 5;
}
.taux-conversion {
    background-color: whitesmoke;
    grid-column: span 5;
}
.ca-origin {
    background-color: whitesmoke;
    grid-column: span 5;
}
.worldmap-holder {
    background-color: whitesmoke;
    margin-bottom: 0.5rem;
    grid-column: span 15;
}
.relative-container {
    position: relative;
    overflow: hidden;
}
.absolute-title {
    opacity: 0.85;
    position: absolute;
    z-index:99;
    margin: 0;
    padding: 0.3rem;
    top: 0.3rem;
    right: 0;
    font-size: 1rem;
    background: var(--primary-dark);
    border: 0.2rem solid var(--primary-dark);
    border-radius: 0.5rem 0 0 0.5rem;
    color: whitesmoke;
}
.shadow {
    box-shadow: -1px 1px 8px -4px rgba(0,0,0,0.61);
    -webkit-box-shadow: -1px 1px 8px -4px rgba(0,0,0,0.61);
    -moz-box-shadow: -1px 1px 8px -4px rgba(0,0,0,0.61);
}
