
<div class="content">
	<div class="infos shadow">
		<h2 class="title">Commercial : {{selectedCommercialName}}</h2>
		<div class="picker">
			<div class="select-container">
				<label class="label">Commercial : </label>
				<select class="select" (change)="updateCommercial($event)">
					<option class="option" [selected]="this.selectedCommercial === commercial" [value]="commercial.IDCommercial" *ngFor="let commercial of commerciaux;">{{commercial.NomCommercial}}</option>
				</select>
			</div>
		</div>
		<div class="objectif">
			<h2 class="objectif">{{ObjectifRate}}% de l'objectif atteint</h2>
		</div>
		<div class="picker">
			<div class="select-container">
				<label class="label">Année : </label>
				<select class="select" (change)="updateAnnee($event)">
					<option [selected]="annee == 2017" class="option">2017</option>
					<option [selected]="annee == 2016" class="option">2016</option>
					<option [selected]="annee == 2015" class="option">2015</option>
					<option [selected]="annee == 2014" class="option">2014</option>
				</select>
			</div>
		</div>
	</div>
	<div class="card shadow">
		<h3 class="card-title">CA Total</h3>
		<div class="comparison">
			<span class="main-amount">{{GlobalCA}}</span>
			<span [ngStyle]="{'color':PositiveCA ? '#25C133' : '#D82323'}" class="material-symbols-outlined symbol">
				{{PositiveCA ? 'trending_up' : 'trending_down'}}
			</span>
			<span class="old-amount">N-1 : {{GlobalCANM1}}</span>
		</div>
	</div>
	<div class="card shadow">
		<h3 class="card-title">CA France</h3>
		<div class="comparison">
			<span class="main-amount">{{CAFrance}}</span>
			<span [ngStyle]="{'color':PositiveCAFR ? '#25C133' : '#D82323'}" class="material-symbols-outlined symbol">
				{{PositiveCAFR ? 'trending_up' : 'trending_down'}}
			</span>
			<span class="old-amount">N-1 : {{CAFranceNM1}}</span>
		</div>
	</div>
	<div class="card shadow">
		<h3 class="card-title">CA International</h3>
		<div class="comparison">
			<span class="main-amount">{{CAInternational}}</span>
			<span [ngStyle]="{'color':PositiveCAInter ? '#25C133' : '#D82323'}" class="material-symbols-outlined symbol">
				{{PositiveCAInter ? 'trending_up' : 'trending_down'}}
			</span>
			<span class="old-amount">N-1 : {{CAInternationalNM1}}</span>
		</div>
	</div>
	<div class="ca-origin shadow"><canvas id="ca-origin">{{chartCAExport}}</canvas></div>
	<div id="ca" class="ca shadow"><canvas id="ca-chart">{{chartCA}}</canvas></div>
	<div class="taux-conversion shadow"><canvas id="taux-conversion">{{chartCAExport}}</canvas></div>
	<div class="shadow pipeline-holder">
		<h3 class="pipeline-title">CA Probable sur année en cours (2017)</h3>
		<div id="pipeline"></div>
		<span id="potential" class="ca-potentiel">CA Probable : {{CAPotentiel}}</span>
	</div>
	<div class="taux-conversion shadow FAKE"><canvas id="challenge">{{chartChallenge}}</canvas></div>
	<div class="shadow pie">
		<canvas id="pie">{{chartCamembert}}</canvas>
		<p [ngStyle]="{'display':CamembertGotContent ? 'none':'block'}" class="no-content">Aucune activité commerciale.</p>
	</div>
	<div class="shadow offre-issue">
		<h3 class="table-title">Répartition des offres</h3>
		<div class="table-holder">
			<table class="table">
				<thead>
					<tr class="header-row">
						<th class="header-cell commercial">Commercial</th>
						<th class="header-cell">Nb. Commandé</th>
						<th class="header-cell">Nb. Sans Suite</th>
						<th class="header-cell">Nb. Perdu</th>
						<th class="header-cell">Nb. En cours</th>
						<th class="header-cell">Taux commandé</th>
						<th class="header-cell amount">Montant en cours</th>
					</tr>
				</thead>
				<tbody>
					<tr class="content-row" *ngFor="let item of table;">
						<td class="content-cell commercial-body">{{item.NomCommercial}}</td>
						<td class="content-cell">{{item.NbOffreCde}}</td>
						<td class="content-cell">{{item.NbOffreSS}}</td>
						<td class="content-cell">{{item.NbOffrePerdu}}</td>
						<td class="content-cell">{{item.NbOffreCours}}</td>
						<td class="content-cell">{{item.Ratio.toString().replace('.', ',')}}%</td>
						<td class="content-cell amount-body">{{parseAmount(item.Montant)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="map-holder" class="worldmap-holder relative-container shadow">
		<h2 class="absolute-title">Chiffre d'affaires par pays</h2>
		<div id="map" style="height: 100%;width: 100%;"></div>
	</div>
</div>
