/* You can add global styles to this file, and also import other style files */
@import url(assets/style/jquery-jvectormap-2.0.5.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary:#01b8aa;
    --secondary:#f2c80f;
    --primary-dark:#374649;
    --secondary-dark:#fd625e;
    --gray:#5f6b6d;
    --light-gray:#848f91;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: #E3E3E3 ;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

canvas {
    height: 100%;
    width: 100%;
}

select {
    /*A reset of styles, including removing the default dropdown arrow*/
    appearance: none;
    outline: none;
    /* Additional resets for further consistency*/
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}
select::-ms-expand {
    display: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--primary-dark);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 1.5vw;
}

*::-webkit-scrollbar-track {
    background: transparent;
    opacity: 0.1;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark);
    border-radius: 1vw;
    border: 0.5vw solid #E3E3E3;
}